html{
  font-family: 'Open Sans Condensed', sans-serif; /* this should be the rest of the output you got from google fonts*/
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high*/
  background-color: #1115F7; /*establece el color de fondo de toda la pantalla*/
}

body{
  width: 600px; /*ancho del body*/
  margin: 0 auto;
  background-color:#ECECF8;
  padding 0 20px 20px 20px;/*establece valores de relleno arriba, derecha,abajo,izquierda,en ese orden.*/
  border: 5px solid black;/*establece ancho,estilo y color del borde*/
}
  
p, li{
  font-size: 15px;
  line-height: 2; */ espacio entre lineas*/
  letter-spacing: 1px; */espacio entre las letras*/
}

h2, h3{
  margin: 0; /*sacamos el espacio q habia arriba del body for default*/
  padding: 20px 0; /*encabezado superior e inferior*/
  color: #1115F7;
  text-shadow: 3px 3px 1px red; /*desp-horizontal desp-vertical radio-de-desenfoque color-base-sombra*/
  font-size: 40px;
  text-align: center;
  /*background-color: black; el color detras del contenido y el relleno de un elemento*/ 
}

img{
  display: block;/*con esto pasamos la imagen de ser un elemento de linea(inline) a bloque(block)para aplicar margin*/
  margin: 0 auto;/*centramos la imagen*/
}